<div>
  <h2 style="text-align: center">Server Management</h2>
  <div class="table-and-button-container">
    <table class="server-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>IP Address</th>
          <th>Memory</th>
          <th>State</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let server of servers; let i = index"
          [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }"
        >
          <td>{{ server.id }}</td>
          <td>
            <div *ngIf="editServerId !== server.id">{{ server.name }}</div>
            <input
              *ngIf="editServerId === server.id"
              [(ngModel)]="server.name"
              type="text"
            />
          </td>
          <td>
            <div *ngIf="editServerId !== server.id">{{ server.address }}</div>
            <input
              *ngIf="editServerId === server.id"
              [(ngModel)]="server.address"
              type="text"
            />
          </td>
          <td>
            <div *ngIf="editServerId !== server.id">{{ server.memory }}</div>
            <input
              *ngIf="editServerId === server.id"
              [(ngModel)]="server.memory"
              type="text"
            />
          </td>
          <td>
            <div *ngIf="editServerId !== server.id">{{ server.status }}</div>
            <input
              *ngIf="editServerId === server.id"
              [(ngModel)]="server.status"
              type="text"
            />
          </td>
          <td>
            <button
              *ngIf="editServerId !== server.id"
              (click)="toggleEdit(server.id)"
            >
              Edit
            </button>
            <button
              *ngIf="editServerId === server.id"
              (click)="saveChanges(server)"
            >
              Save
            </button>
            <button
              *ngIf="editServerId === server.id"
              (click)="toggleEdit(server.id)"
            >
              Cancel
            </button>
            <button (click)="deleteServer(server.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <button (click)="toggleFormVisibility()">Create New Server</button>
    </div>
  </div>
</div>
<div class="form-container" *ngIf="isFormVisible">
  <h3>Create Server</h3>
  <form (submit)="createServer()">
    <label for="id">ID:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="newServer.id"
      name="id"
      required
    />

    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="newServer.name"
      name="name"
      required
    />

    <label for="address">IP Address:</label>
    <input
      type="text"
      id="ipAddress"
      [(ngModel)]="newServer.address"
      name="address"
      required
    />

    <label for="memory">Memory:</label>
    <input
      type="text"
      id="memory"
      [(ngModel)]="newServer.memory"
      name="memory"
      required
    />

    <label for="status">State:</label>
    <select id="status" [(ngModel)]="newServer.status" name="status" required>
      <option value="0">SERVER_UP</option>
      <option value="1">SERVER_DOWN</option>
    </select>

    <button type="submit">Create Server</button>
  </form>
</div>
<router-outlet />
